/***************************************************************************
  .stackを起点に子要素となる見出しや段落にスタイルを適用
  フクロウセレクタ（ * + * ）を使用して子要素の間隔を指定し、柔軟に調整できるようにする
 ***************************************************************************/

/*
  <div className={styles.stack}>
  直下の子要素（１つめを除く）の間隔を上マージン1.5emに指定
 */
.stack > * + * {
  margin-top: var(--stack-space, 1.5em); /* margin-topの初期値1.5em */
}

/* <h2>と<h3>の上の間隔は大きくする */
.stack h2,
.stack h3 {
  --stack-space: 2em; /* 変数の設定をしている */
}

/* <h2>と<h3>の下の間隔は小さくする */
.stack h2 + *,
.stack h3 + * {
  --stack-space: 0.8em; /* 変数の設定をしている */
}

/* 文章の行の高さを広くする */
.stack p {
  line-height: 1.8;
}

/* リセットした<ul>のスタイルをブラウザ標準のスタイルに戻す */
.stack ul {
  padding: revert;
  list-style: revert;
}
